
body {
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    span {
            font-family: 'Courgette', sans-serif;
            padding: 0.5em;
            font-weight: bold;
            color:rgb(86, 247, 247);
    }
}

.hero-img {
    background: url('../assets/latern1.jpg');
    background-size: cover;
	background-position-x: 40%;
	background-position-y: 40%;
	width: 100%;
    height: 60vh;
    z-index: -1;
    
}

svg {
    padding: 20px;
    fill: white;
    position: fixed;
    top: 0px;
    right: 0px;
    
}
a {
    text-decoration: none;
    
}
a:hover{
    color:rgb(139, 214, 214)
}
a:visited {
    color: rgb(216, 60, 216);
}

nav {
    ul {
        list-style-type: none;
        padding: 0;
    }
}
.aboutme {
    h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    p {
        font-weight: 100px;
    }
    span {
        color: green;
    }
}


