
body {
    font-weight: 100;
    font-family: 'Courgette', sans-serif;
    background-color: black;
    color: white;
    span {
        padding: 1.3em;
        font-weight: bold;
        color:rgb(86, 247, 247);
    }
}

.hero-img {
    background: url('../assets/latern1.jpg');
    background-size: cover;
	background-position-x: 20%;
	background-position-y: 20%;
	width: 100%;
	height: 100vh;
    z-index: -1;
}

container {
    svg {
        padding: 0;
    }
}

a {
    text-decoration: none;
}

nav {
    ul {
        list-style-type: none;
        padding: 0;
    }
}


